### Java / Build ###
target/
!.mvn/wrapper/maven-wrapper.properties

### Maven ###
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

### Environment / Secrets ###
.env
.env.dev
.env.prod

# Spring Boot config
src/main/resources/application.properties

### Docker ###
Dockerfile
docker-compose.yaml

### Don't know what this is ###
HELP.md